[user]
	name = 
	email = 
[core]
	editor = vim
	excludesfile = /Users/ayang/.gitignore_global
[diff]
	tool = vimdiff
[alias]
  b = branch
  co = checkout
	s = status
  aa = add --all :/
  c = commit
	cm = commit -m
  a = add
	lg = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
  l = log --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
  ll = log --stat --abbrev-commit
  ldiff = log -p -2 --word-diff
  dt = difftool -y -x "colordiff -y -W $COLUMNS" -R
  p = push
  po = push origin
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
