[user]
	name = Yang, Alex
	email = alex.yang@cbsinteractive.com
[core]
	editor = vim
[diff]
	tool = vimdiff
[alias]
	s = status
  c = commit
	cm = commit -m
  a = add
	l = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
  ll = log --stat --abbrev-commit
